
@{
    ViewBag.Title = "Tab";
    Layout = "~/Views/SharedFolder/View.cshtml";
}


<style>
    h5 {
        font-weight: bolder;
        font-family: sans-serif;
    }
    
    h2 {
        font-weight: bolder;
        font-family: sans-serif;
    }

    body {
        overflow: hidden;
    }
</style>



<h2>Add New Advisor</h2>





<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Advisory">Advisor Info</a></li>
    <li><a data-toggle="tab" href="#PersonalInfo">Personal Info</a></li>

    <li><a data-toggle="tab" href="#Addproducts">AddProduct</a></li>
    <li><a data-toggle="tab" href="#Addproducts">AddProduct</a></li>
</ul>


<div class="tab-content">
    <div id="Advisory" class="tab-pane fade in active">
        @{ Html.RenderPartial("NewAdvisorInfo");}




    </div>

</div>
